<h1>Curriculum Vitae</h1>
<accordion [isAnimated]="true">
    <accordion-group heading="Contact Details">
        <div>
            <p style="text-align:left"><u>
                    Telephone
                </u>
            </p>
            <ul style="text-align:left">
                <li>01782 577294</li>
            </ul>
            <p style="text-align:left"><u>
                    Email
                </u>
            </p>
            <ul style="text-align:left">
                <li> louisthorne12&#64;gmail.com </li>
            </ul>
            <p style="text-align:left"><u>
                    Mobile
                </u>
            </p>
            <ul style="text-align:left">
                <li>07557 050791</li>
            </ul>
        </div>
    </accordion-group>
    <accordion-group heading="Personal Statement:">
        <div>
            <ul style="text-align:left">

                <p> Over six years of industry experience, whilst accruing a wide variety of experience,
                    primarily in developing applications in
                    C# and Java, with some work in Python and C++. Looking at gaining more hands-on experience
                    and expanding my skill set
                    whilst maintaining a good work life balance.</p>
            </ul>
        </div>
    </accordion-group>
    <accordion-group heading="Winterflood Securities: 1st August 2022 - Redundant 25th August 2024.">
        <div>
            <p style="text-align:left"><u>
                    Software Developer: EOS Operations Team
                </u>
            </p>
            <ul style="text-align:left">
                <li>Responsible for maintaining EOS trading execution platform.</li>
                <li>EOS’s main technologies which comprise the bulk of my experience over the last two years:
                    JavaScript and
                    Typescript with Angular to make up the web frontend with the back-end consisting of C# with
                    .NET Framework
                    for restful API’s and micro services. API’s made use of Entity Framework to communicate with
                    the MSSQL DB as
                    well as NServicebus to communicate between API’s and web services.
                </li>
                <li>Experience with ServiceInsight to diagnose and debug NServicebus saga’s. </li>
                <li>Light Microsoft SQL Server 2016 Design and implementation including alterations and
                    additions to existing tables, views with performance improvements to existing stored
                    procedures and views using Microsoft SQL Managements built in Query Analysis. </li>
                <li>Planning and implementation of bug fixes, client requested improvements and major projects.
                <li>Handling end user support issues as quickly and efficiently as possible with an
                    appropriate resolution, or escalating when necessary any critical issues to a Senior
                    Technician.
                </li>
                <li>Working in an Agile Jira managed work environment consisting of two week sprints.
                </li>
                <li>Regularly communicating my progress on a support issues or a project with group
                    shareholders, clients,
                    colleagues, regulators, legal authorities, professional associations and other relevant
                    stakeholders often at the
                    morning daily recap.
                </li>
                <li>Experienced in the use of TeamCity build tools and Octopus deployment tools.</li>
                <li>Regularly worked out of hours to enable releases at a safe time when trading was suspended.
                </li>
                <li>Adherence to the rules and regulations specified by both the FCA (Financial Conduct
                    Authority) and by Winterflood Securities.
                </li>
            </ul>
        </div>
    </accordion-group>
    <accordion-group heading="Bet365: 30th September 2019 – June 18th 2022.">
        <div>
            <p style="text-align:left"><u>
                    Junior Software Developer: Regulatory Platform Services
                </u>
            </p>
            <ul style="text-align:left">
                <li>Responsible for development and maintenance of digital SAFEs. These SAFEs store and ensure
                    data integrity for
                    regulatory and tax requirements of various foreign nations and their respective gambling
                    regulators.
                </li>
                <li>Working in an Agile Jira managed environment. Each ten-day sprint comprised of work assigned
                    based on
                    priority by my line manager.</li>
                <li> Working primarily in Java 8 as the SAFE’s operated as an internally available tomcat
                    web-service that other
                    departments submit HTTPS SOAP packets containing XML of user transactions for
                    transformation, signing and
                    storage.</li>
                <li>Development is carried out in IntelliJ on either Windows or CentOS-VM however deployment was
                    exclusively to
                    Red Hat Enterprise Linux 7/8.</li>
                <li>Some work on Python and C++ on tools that either monitored or evaluated SAFE behaviour.</li>
                <li>PostgreSQL – Several SAFE’s made use of Postgres as an idempotency tool to prevent the
                    submission of
                    duplicate data. Connection to PG servers was often via PGAdmin but also command line SSH.
                </li>
                <li>Working with Jenkins and Yaml playbooks to automate the building and deployment of releases.
                </li>
                <li>Basic understanding of cryptography. </li>
                <ul>
                    <li>Understanding use of certificates often generating our own under our departmental RPS
                        certificate
                        authority using OpenSSL or generated and submitting CSRs to our company CA.</li>
                    <li>Authentication – Data submitters to the SAFE used a client certificate to identify and
                        validate if there were
                        allowed to submit data to the SAFE.</li>
                    <li>Signing Data – A number of SAFE’s made use of certificates to sign data: a requirement
                        by a number of
                        regulators</li>
                    <li>Whilst at bet365 I personally oversaw the switch from AJP to HTTPS for communication
                        between RPS
                        services. I tested this before implementation and while it did have a very minor
                        performance impact it did
                        increase security.</li>
                    <li>Encryption – private key pass phrases were encrypted in configuration in tools that use
                        made use of
                        Certificates. The fundamentals of which was discussed in meetings and training sessions.
                    </li>
                    <li>Dedicated encryptions hardware – UAT environments and above often contained dedicated
                        hardware for
                        encryption and signing.</li>
                </ul>
                <li>Assisted in required audits, certification and penetration testing required when required by
                    jurisdictions.
                </li>
                <li>Assisted in the creation and maintenance of documentation. Mainly Javadoc, inline comments
                    and markdown.</li>
            </ul>
        </div>
    </accordion-group>
    <accordion-group heading="Synectics Solutions: Sandwich Year Placement 14th June 2016 – 25th Aug 2017.">
        <div>
            <p style="text-align:left"><u>
                    Application Support: Analyst
                </u>
            </p>
            <ul style="text-align:left">
                <li>Investigate, diagnose and resolving incidents and requests reported by users within required
                    service level
                    agreement.
                </li>
                <li>Resolved tasks independently, while engaging resources from across multiple teams or
                    departments to
                    facilitate their resolution.</li>
                <li>As a main point of contact for customer communication I delivered first line technical
                    client support.
                </li>
                <li>Managing client emails and incoming phone calls.</li>
                <li>Logging changes and keeping documentation up to date.</li>
                <li>Participated in the regression testing of multiple clients’ front ends.
                </li>
                <li>As an analyst I was subject to shift work both early and late.</li>
            </ul>
            <p style="text-align:left"><u>
                    NFI: Data processor
                </u>
            </p>
            <ul style="text-align:left">
                <li>Searched for anomalies in raw data provided as part of NFI scheme by local authorities.
                    National Fraud initiative
                    (NFI); a bi-annual Cabinet Office run exercise designed to identify potential fraud.</li>
            </ul>

        </div>
    </accordion-group>
    <accordion-group heading="Technical Skills">
        <div>
            <ul style="text-align:left">
                <li>Just under three years of experience working with RHEL 7/8 providing me an understanding of
                    fundamental aspects of Linux development and deployment.</li>
                <li>Experience with industry standard tools: Jira, Jenkins, Git and Gitlab, Gitbucket, Teamcity,
                    Octopus.</li>
                <li>Experience in JavaDB, Postgres, Oracle SQL-Server, Microsoft SQL-Server.</li>
                <li>Web and Mobile application development: Angular, Typescript, XHTML, JSP, Android Studio
                    Java, Qt Quick.</li>
                <li>with various programming languages: Java, Python3, C#, .NET 8, NServicebus, C, C++, LabVIEW,
                    Qt
                    Widgets and Qt Quick.</li>
            </ul>
        </div>
    </accordion-group>
    <accordion-group heading="Education">
        <div>
            <p style="text-align:left"><u>
                    Staffordshire University: BSc (Hons) Computer Science September 2014 – June 2019
                </u>
            </p>
            <ul style="text-align:left">
                <li>Bachelor of Science with Honours Computer Science: First Class.</li>
            </ul>
            <p style="text-align:left"><u>
                    Newcastle Under-Lyme College (NULC): September 2012 – July 2014
                </u>
            </p>
            <ul style="text-align:left">
                <li>A Level: History, Computing and Product Design. </li>
                <li>AS level: Fine Art </li>
            </ul>
            <p style="text-align:left"><u>
                    Haywood Academy: September 2007 – July 2012
                </u>
            </p>
            <ul style="text-align:left">
                <li>GCSE’s in eight subjects including Maths, English, and Applied Science.</li>
            </ul>
        </div>
    </accordion-group>
    <accordion-group heading="Interests">
        <div>
            <ul style="text-align:left">
                <li>Currently attempting to learn Spanish with Duolingo. Keen Motorcyclist (Honda NX500)</li>
            </ul>
        </div>
    </accordion-group>
    <accordion-group heading="References">
        <div>
            <ul style="text-align:left">
                <p> <u>Winterflood Securities</u></p>
                <p> Human Resources: Winterflood Securities</p>
                <p> Email: human.resources&#64;winterflood.com</p>
            </ul>
        </div>
        <div>
            <ul style="text-align:left">
                <p> <u>James McCarran</u></p>
                <p> Senior Lecturer for Advanced Programming Languages Staffordshire University</p>
                <p> Email: J.McCarren&#64;staffs.ac.uk Telephone: 01785 353447 Extension: 3470</p>
            </ul>
        </div>
    </accordion-group>
</accordion>